
// .......... COMPONENTS .........//

@use "../../components/index" as *;

// .......... COMPONENTS .........//


.choice_nav{
    @include grid-position (1 / span 12, 11 / span 1);
    
    .choice_nav_list{
        @include flex ();
        gap: 1rem;

        .choice_nav_li {

            @include flex ();
            @include body (0.5rem, 0.5rem);
            @include border (solid 2px rgba($primary-first,1), 50%);
            padding: 0.5rem;

            transition: 0.3s;
            
            &:hover {
                background-color: rgba($primary-second,0.9);

                transition: 0.3s;
            }

            a {
                opacity: 0;
            }


        }
    }
    // EVENT JavaScript
    
    .bully-active{
        background-color: rgba($primary-first,0.8);
        transform: scale(1.2);
    }

}