    
// .......... COMPONENTS .........//

@use "../components/index" as *;

// .......... COMPONENTS .........//


// NAVIGATION
    
.header_nav{
    width: 70%;
    @include flex();
    
    .header_nav_list{
        width: 90% ;
        @include flex($justify:flex-end); gap: 2rem;

        .list_items{
            font-family: 'Permanent Marker', cursive;
            @include fonts (1.1rem, 600);
            
            letter-spacing: 1px;

            a:hover {
                color: rgba($secondary-second, 1);
            }
            
            .active_link{
                color: rgba($primary-second, 0.8);
                transition: 0.3s 0.3s;
            }
        }
    }
}

// NAV MOBILE EVENT JS

.header_nav.nav-mobile {
    position: absolute; top: 0; right: 0; bottom: 0; z-index: 100;
    @include flex ($justify:flex-start);
    flex-direction: column;
    @include border (none,$radius:0.5rem 0 0 0.5rem);
    max-width: 75%;

    background-color: rgba($primary-first, 0.97);
    filter: contrast(1.5);

    opacity: 1; transition: 0.3s;

    .bi {
        display: block;
        position: absolute; top: 5px; right: $ref;
        font-size: 2.5rem;
    }

    
    .header_nav_list {
        flex-flow: column;
        padding: 2rem ;

        & :nth-child(6), & :nth-child(5) {
            display: initial;
        }
    }
}

// RESPOSIVE MEDIA

    
@media screen and (max-width:768.98px) {

    .header_nav {
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width:1024.98px) {
    
    .header_nav {
        
        .bi {
            display: none;
        }

        .header_nav_list {
            & :nth-child(6), & :nth-child(5) {
                display: none;
            }
        }
    }
}