
// .......... COMPONENTS .........//

@use "./components" as *;

// .......... COMPONENTS .........//


/* .......... STYLESHEET .......... */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 5px 5px 5px silver;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $primary-first;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $primary-second;
}


*{box-sizing: border-box;}

body {
    // font-family: 'Comfortaa', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    
    scroll-behavior: smooth;
    
    color: $secondary-first;
    
    -webkit-filter: brightness(0.95);
    
            filter: brightness(0.95);
}


@media screen and (min-width:767.98px) and (min-height:925.98px) {
    body {
        font-size: 1.2em;
    }
}