
// ......... DEFAULT ......... //

$black:#000;

$white:#fff;

// ......... GENERAL ......... //

// PRIMARY

$primary-first:#1D7F26;

$primary-second:#0DEC2A;

$primary-therd:#051744;

$primary-forth:#260069;

// SECONDARY

$secondary-first:#2F2F2F;

$secondary-second:#EBEBEB;

$secondary-therd:#E8E05F;

// ......... MOST ......... //