
// .......... COMPONENTS .........//

@use "../components/index" as *;

// .......... COMPONENTS .........//

.footer_nav {
    @include flex (space-around, center);
    
    .footer_nav_list {
        @include flex (space-around, center);
        flex-wrap: wrap;
        gap: 1rem;
    }
}


@media screen and (max-width:768.98px) {

    .footer {
        .footer_nav {
            .footer_nav_list {

                padding: 0.5rem;
                row-gap: 1rem;
            }
        }
    }
}